-unless alerts.blank?
  - alerts.each do |alert_id, alert|
    %div{class: 'alert-details alert-' + alert.severity}
      %span.alert_id.title{id: alert_id}
        =link_to alert_id, :anchor => 'top'
      %span.title
        = alert.title
      .regions
        %span.center.region
          = "Regions Impacted : "
        = alert.regions.join(', ')
      .description
        %span.center.description
          = "Details : "
        =alert.description
