-unless alerts.blank?
  %a{name: 'all-alerts'}
  - alerts.sort.each do |alert|
    %div{class: 'alert-details alert-' + alert.severity}
      %span.alert_id.title{id: alert.alert_id}
        =link_to alert.alert_id, :anchor => 'top'
      %span.title
        = alert.title
      .regions
        %span.center.region
          = "Regions Impacted : "
        = alert.regions.join(', ')
      .description
        %span.center.description
          = "Details : "
        =alert.description
