-unless alerts.blank?
  %a{name: 'all-alerts'}
  - alerts.sort.each do |alert|
    - css_classes = 'alert-details '
    - css_classes += 'alert-' + alert.severity if alert.severity
    -# - css_classes += ' alert-details-vc ' if alert.is_vc?
    - if alert.is_vc?
      = render partial: 'vc_alert', locals: {css_classes: css_classes, alert: alert}
    - else
      = render partial: 'ds_alert', locals: {css_classes: css_classes, alert: alert}

