%div{class: css_classes}
  %span.alert_id.title{id: alert.alert_id}
    %a{href: '#top'}
      =alert.alert_id
      &uarr;
  %span.title
    = alert.title
  - unless alert.regions.blank?
    .regions
      %span.center.region
        = "Regions Impacted : "
      = alert.regions.join(', ')
  .description
    %span.center.description
      = "Details : "
    =alert.description
