%table.table.table-bordered.table-sm.weather-forecast
  - totalColumns = 8
  %thead{id: loc.description}
    %tr
      %th{scope: 'col', colspan: totalColumns, class: 'header-main center'}
        %span{title: detail.daily_summary}
          = render partial: 'alert_links',
              locals: {alerts: detail.alerts, blank_alert_msg: ''}
          =loc.description.upcase
          = render partial: 'wta_trip_report_link', locals: { loc: loc, link_text: nil }
          %a{href: '#top'}
            (top)
    %tr.header-secondary
      %td{scope: "col", colspan: 2, class: 'center'} DATE
      %td{scope: "col", colspan: 2, class: :center} DETAILS
      %td{scope: "col", class: 'fahrenheit'} HI / LOW
      %td{scope: "col", colspan: 2} PRECIP
      %td{scope: "col"} CLOUD COVER

  %tbody
    / current daily weather
    - daily_times.each do |time|
      - css_row_classes = add_weekend_class(time, 'weather-details')
      %tr{class: css_row_classes}
        %td.left-col-of-merged-cells
          %span.day-of-week
            =time.strftime('%a').upcase
        %td.right-col-of-merged-cells
          %span.day-of-month
            =time.strftime('%b %d').upcase
        / FIXME move a lot of this to helper code
        - daily_ts = detail.daily(time)
        %td.precipitation.left-col-of-merged-cells
          -if daily_ts
            %i{class: icon_class(daily_ts.icon, daily_ts.precipProbability, daily_ts.cloudCover), title: daily_ts.summary}
        %td.right-col-of-merged-cells
          -if daily_ts
            =daily_ts.desc.gsub(/-/,' ').titleize
        %td.center
          -if daily_ts
            =daily_ts.temperatureHigh.round.to_s + '° / ' +  daily_ts.temperatureLow.round.to_s + '°'
        %td.precipitation-prob
          -if daily_ts
            =precipitation(daily_ts.precipProbability)
        %td.precipitation-amount
          -if daily_ts
            =precipitationAmount(daily_ts.precipAmount)
        %td.cloud-cover
          -if daily_ts
            =daily_ts.cloudCover.to_s + '%'
    %tr.daily-summary
      %td.center{scope: 'col', colspan: totalColumns}
        -if detail
          =detail.daily_summary
