- forecasts = forecast_summary.forecasts
%table.table.table-sm.weather-forecast.weather-forecast-summary
  %thead
    %tr.table-heading.center
      %th{scope: 'col', colspan: 9}
        Weather Forecast Summary
  %thead
    %tr.header-secondary
      %td{scope: "col", class: 'center location-change'}
      - forecast_summary.daily_times.each do |time|
        %td{class: 'forecast-date location-change'}
          %span.day-of-week
            =time.strftime('%a %b %d').upcase

  - locations = forecasts.keys
  %tbody
    - locations.each do |loc|
    - detail = forecasts[loc]
      %tr.weather-details
        %td.location-change
          =loc.description.upcase
        - forecast_summary.daily_times.each do |time|
          / FIXME move a lot of this to helper code
          - daily_ts = detail.daily(time)
          - css_row_classes = add_weekend_class(time, 'precipitation location-change')
          %td{class: css_row_classes}
            %i{class: icon_class(daily_ts.icon, daily_ts.precipProbability), title: daily_ts.summary}

