-unless @weather.make_actual_call
  .row
    .col-12.center
      .h3
        FAKE results (for testing only)

-unless @forecast_summary.blank?
  .row
    .center
      = render 'weather_summary_table', forecast_summary: @forecast_summary, by_region: @by_region

  -unless @forecast_summary.forecasts.blank?
    .row
      .col-xs-0.col-lg-2
      .col-xs-12.col-lg-8
        -@forecast_summary.forecasts.each do |loc, detail|
          = render partial: 'forecast_details',
            locals: { loc: loc, detail: detail, daily_times: @forecast_summary.daily_times  }
      .col-xs-0.col-lg-2
  -if @forecast_summary.respond_to?(:alerts)
    .row
      .col-sm-12.col-xs-12.col-lg-12
        = render partial: 'alert', locals: { alerts: @forecast_summary.alerts }

- if @weather.make_actual_call
  - unless @forecast_summary.errors.blank?
    %table.table.table-sm.weather-forecast.weather-forecast-summary
      %thead
        %tr
          %th
            Location
          %th
            Code
          %th
            Details

      %tbody
        - @forecast_summary.errors.each do |location, details|
          %tr
            %td=location.description
            %td=details['code']
            %td=details['error']
