/ Page Content

-unless @call_weather_client
  .h3.center
    FAKE results (for testing only)

%table.table.table-bordered.weather-forecast
  - forecasts = @forecast_summary.forecasts
  %thead
    %tr
      %th{scope: 'col', class: 'header-main location-change', colspan:2}
      - forecasts.each do |loc, detail|
        %th{scope: 'col', colspan: 5, class: 'header-main location-change center'}
          %span{title: detail.daily_summary}
            =loc.description.upcase
    %tr.header-secondary
      %td{scope: "col", colspan: 2, class: 'center location-change'} TIME
      - forecasts.size.times do
        %td{scope: "col", colspan: 2, class: :center} DESC
        %td{scope: "col", class: 'fahrenheit'} HI / LOW
        %td{scope: "col"} PRECIP
        %td{scope: "col", class:'location-change'} CLOUD COVER
  %tbody
    %tr.daily-summary
      %td{scope: 'col', colspan:2, class: 'location-change'}
      - forecasts.each do |loc, detail|
        %td.center{scope: 'col', class: 'center location-change', colspan: 5}
          =detail.daily_summary
  / current daily weather
  - @forecast_summary.daily_times.each do |time|
    %tr.weather-details
      %td{class: 'forecast-date'}
        %span.day-of-week
          =time.strftime('%a').upcase
      %td{class: 'forecast-date location-change'}
        %span.day-of-month
          =time.strftime('%b %d').upcase
      - forecasts.each do |loc, detail|
        / FIXME move a lot of this to helper code
        - daily_ts = detail.daily(time)
        %td.precipitation
          %i{class: icon_class(daily_ts.icon, daily_ts.precipProbability), title: daily_ts.summary}
        %td{class: 'summary'}
          =daily_ts.icon.gsub(/-/,' ').titleize
        %td=daily_ts.temperatureHigh.round.to_s + '° / ' +  daily_ts.temperatureLow.round.to_s + '°'
        %td.center
          =precipitation(daily_ts.precipProbability)
        %td{class: 'center location-change'}
          =daily_ts.cloudCover.to_s + '%'

-#%a{:href => "https://www.freepik.com/free-photos-vectors/icon", class: 'freepik'} Icons by Freepik
