/ Page Content

.container
  / Page Features
  .row
    %table.table.table-bordered.weather-forecast

      %thead
        %tr
          %th{:scope => "col"}
          - @forecast.each do |loc, detail|
            %th.center{:scope => "col", :colspan => 3, :class => 'header-main'}=loc.description.titleize
        %tr.header-secondary
          %th{:scope => "col"} Time
          - @forecast.size.times do
            %th{:scope => "col", :colspan => 2} Rain
            %th{:scope => "col", :class => 'fahrenheit'}
              Temp
              %i.wi-fahrenheit
      %tbody
        - #current weather row
        %tr
          %th{:scope => "row"} Now
          - @forecast.each do |loc, detail|
            - current = detail.currently
            %td.precipitation
              %i{:class => icon_class(current.icon, current.precipProbability)}
            %td.align-right
              =precipitation(current.precipProbability)
            %td=current.temperature.round.to_s
        / current hourly weather
        - first_forecast = @forecast.values.first
        - first_forecast.hourly.size.times do |index|
          - ts = first_forecast.hourly(index)
          %tr
            %td{:scope => "row"}=ts.time.strftime('%I:%M %p')
            - @forecast.each do |loc, detail|
              / FIXME move a lot of this to helper code
              - hourly_ts = detail.hourly(index)
              %td
                %i{:class => icon_class(hourly_ts.icon, hourly_ts.precipProbability) }
              %td.align-right
                =precipitation(hourly_ts.precipProbability)
              %td=hourly_ts.temperature.round.to_s

      / current daily weather
      - first_forecast = @forecast.values.first
      - first_forecast.daily.size.times do |index|
        - ts = first_forecast.daily(index)
        %tr
          %td{:scope => "row"}=ts.time.strftime('%a')
          - @forecast.each do |loc, detail|
            / FIXME move a lot of this to helper code
            - daily_ts = detail.daily(index)
            %td
              %i{:class => icon_class(daily_ts.icon, daily_ts.precipProbability) }
            %td.align-right
              =precipitation(daily_ts.precipProbability)
            %td=daily_ts.temperatureLow.round.to_s + ' / ' + daily_ts.temperatureHigh.round.to_s


-#=debug @forecast.values.first.daily
