/ Page Content

.container
  / Page Features
  .row
    %table.table.table-bordered.weather-forecast
      - forecasts = @forecast_summary.forecasts
      %thead
        %tr
          %th{:scope => "col"}

          - forecasts.each do |loc, detail|
            %th.center{:scope => "col", :colspan => 3, :class => 'header-main'}=loc.description.titleize
        %tr.header-secondary
          %th{:scope => "col"} Time
          - forecasts.size.times do
            %th{:scope => "col", :colspan => 2} Rain
            %th{:scope => "col", :class => 'fahrenheit'}
              Temp
              %i.wi-fahrenheit
      %tbody
        - #current weather row
        %tr
          %th{:scope => "row"} Now
          - forecasts.each do |loc, detail|
            - current = detail.currently
            %td.precipitation
              %i{:class => icon_class(current.icon, current.precipProbability)}
            %td.align-right
              =precipitation(current.precipProbability)
            %td=current.temperature.round.to_s
        / current hourly weather
        - @forecast_summary.hourly_times.each do |time|
          %tr
            %td{:scope => "row"}=time.strftime('%I:%M %p')
            - forecasts.each do |loc, detail|
              / FIXME move a lot of this to helper code
              - hourly_ts = detail.hourly(time)
              %td
                %i{:class => icon_class(hourly_ts.icon, hourly_ts.precipProbability) }
              %td.align-right
                =precipitation(hourly_ts.precipProbability)
              %td=hourly_ts.temperature.round.to_s

      / current daily weather
      - @forecast_summary.daily_times.each do |time|
        %tr
          %td{:scope => "row"}=time.strftime('%a')
          - forecasts.each do |loc, detail|
            / FIXME move a lot of this to helper code
            - daily_ts = detail.daily(time)
            %td
              %i{:class => icon_class(daily_ts.icon, daily_ts.precipProbability) }
            %td.align-right
              =precipitation(daily_ts.precipProbability)
            %td=daily_ts.temperatureLow.round.to_s + ' / ' + daily_ts.temperatureHigh.round.to_s


-#=debug @forecast_summary.forecasts.values.first.daily
