/ Page Content
.container
  / Page Features
  .row
    %table.table.table-bordered.compact
      %thead
        %tr
          %th{:scope => "col"}
          - @forecast.each do |loc, detail|
            %th.center{:scope => "col", :colspan => 3}=loc.description.titleize
        %tr
          %th{:scope => "col"} Day
          - @forecast.keys.size.times do
            %th{:scope => "col"} Rain
            %th{:scope => "col"} Hi/Low
      %tbody
        - first_forecast = @forecast.values.first
        - #current weather row
        %tr
          %th{:scope => "row"}=first_forecast.currently.time.strftime('%D')
          - @forecast.each do |loc, detail|
            %td=detail.currently.precipProbability.to_s
        / current hourly weather
        - first_forecast.hourly.keys.each do |hour|
          %tr
            %th{:scope => "row"}=hour.strftime('%h')
            - @forecast.each do |loc, detail|
              / FIXME move a lot of this to helper code
              - hourly_ts = detail.hourly[hour]
              %td=hourly_ts.precipProbability.to_s

  / /.row
/ /.container
=debug @forecast
