/ Page Content
.container
  / Page Features
  .row
    %table.table.table-bordered
      %thead
        %tr
          %th{:scope => "col"} Day
          %th{:scope => "col", :colspan => 2} Olympic NP
          %th{:scope => "col", :colspan => 2} North Cascades NP
          %th{:scope => "col", :colspan => 2} Teanaway
        %tr
          %th{:scope => "col"}
          %th{:scope => "col"} Precipitation
          %th{:scope => "col"} Hi/Low
          %th{:scope => "col"} Precipitation
          %th{:scope => "col"} Hi/Low
          %th{:scope => "col"} Precipitation
          %th{:scope => "col"} Hi/Low
      %tbody
        %tr
          %th{:scope => "row"} Today
          %td 30%
          %td 41/65
          %td 30%
          %td 41/65
          %td 30%
          %td 41/65
        %tr
          %th{:scope => "row"} Tuesday
          %td 30%
          %td 41/65
          %td 30%
          %td 41/65
          %td 30%
          %td 41/65


  / /.row
/ /.container
