/ Page Content

-unless @call_weather_client
  .h3.center
    FAKE results (for testing only)

= render 'weather_summary_table', forecast_summary: @forecast_summary

-@forecast_summary.forecasts.each do |loc, detail|
  = render partial: 'forecast_details',
    locals: { loc: loc, detail: detail, daily_times: @forecast_summary.daily_times  }

-#%a{:href => "https://www.freepik.com/free-photos-vectors/icon", class: 'freepik'} Icons by Freepik

// debug @forecast_summary.forecasts

