.center {
  text-align:center
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* move to weather.scss */
table.weather-forecast {
  line-height:1;
}

.header-main {
  background-color:#def0ff;
}

.header-secondary {
  background-color:#fef7e9;
}

.align-right {
  text-align: right;
}

.weather-icon {
  font-size: 1.3em;
}

.day-sunny {
  color: yellow;
}

.night-clear {
  color: black;
}

.rain {
  color: blue;
}

.cloudy {
  color: grey;
}

.night-partly-cloudy {
  color: #6767f2;
}

.day-cloudy-10 {
  color: #f9f952;
}

.day-cloudy-20 {
  color: #f9f952;
}

.day-cloudy-30 {
  color: #f9f952;
}

.day-cloudy-100 {
  color: grey;
}
