// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert-details {
  padding: 0.5rem;
  margin-bottom: 1.25rem;
  border: 2px solid #eee;
  border-left-width: .25rem;
  border-radius: .5rem;
  span.title {
    margin-top: 0;
    margin-bottom: .25rem;
    color: white;
    padding: 5px;
    border-radius: .25rem;
  }
  .regions {
    padding: 3px;
    span.region {
      background-color: white;
      font-weight: 700;
    }
  }
  .description {
    padding: 3px;
    span.description {
      background-color: white;
      font-weight: 700;
    }
  }
}

// level 1 warning
$color-alert-advisory: rgba(23, 188, 255, 1);
.alert-advisory {
  border-left-color: $color-alert-advisory;
  span {
    background-color: $color-alert-advisory;
  }
}

// level 2 warning
$color-alert-watch: rgba(255, 213, 46, 1);
.alert-watch {
  border-left-color: $color-alert-watch;
  span {
    background-color: $color-alert-watch;
  }
}

$color-alert-warning: rgba(255, 66, 39, 0.88);
// level 3 warning
.alert-warning {
  border-left-color: $color-alert-warning;
  span {
    background-color: $color-alert-warning;
  }
}

span.alert_id {
  background-color: rgb(255, 108, 56);
  padding: 3px;
  margin: 3px;
  a {
    color: white;
  }
}

table.weather-forecast-alerts {
  tr.table-heading {
    td {
      border: 0;
      font-size: 1.2em;
    }
  }
}

table.weather-forecast-summary {
  tr.table-heading {
    td {
      border: 0;
      font-size: 1.2em;
    }
  }
}

table.weather-forecast {
  border-collapse:collapse;
  tr td {
    border: 2px solid rgba(1, 2, 4, 0.07);
  }

  tbody {
    white-space: nowrap;

    tr.daily-summary {
      background-color: #feffd4;
    }

    .weekend {
      background-image:linear-gradient(142deg, #b2f7c6 11.11%, #faf5f5 11.11%, #faf5f5 50%, #b2f7c6 50%, #b2f7c6 61.11%, #faf5f5 61.11%, #faf5f5 100%);
      background-size: 14.62px 11.42px;
    }

    tr.weather-details {
      td.summary {
        text-align: left;
      }

      td.left-col-of-merged-cells {
        border-right: solid 1px #FFF;
      }

      td.right-col-of-merged-cells {
        border-left: solid 1px #FFF;
      }

      td.forecast-date span.day-of-month {
        border:none;
        color: #df788e;
        font-size: 0.85em;
        font-weight: 900;
        white-space: nowrap;
      }

      td.precipitation {
        text-align: center;
      }

    }
  }

  .header-main {
    background-color:#def0ff;
  }

  tr.header-secondary {
    background-color:#fef7e9;
    text-align: center;
    td {
      padding: 8px 8px;
    }
  }

  .fog { color: rgb(152, 150, 152); }
  .snow { color: rgb(25, 151, 245); }
  .cloudy { color: blue; }
  .rain { color: blue; }
  .day-cloudy-10 { color: rgb(255, 187, 33); }
  .day-cloudy-100 { color: rgb(38, 163, 231); }
  .day-sunny { color: #ffb412; }


}

.align-right {
  text-align: right;
}

.weather-icon {
  font-size: 1.4em;
  font-weight: 1.2em;
}

a.freepik {
  text-decoration: underline;
  font-size: 0.8em;
}
