// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.weather-forecast-summary {
  width: 100px;
}

table.weather-forecast {
  border-collapse:collapse;

  .location-change {
    border-right: 2px solid rgba(1, 2, 4, 0.07);
  }

  .fog {
    color: rgb(152, 150, 152);
  }

  .snow {
    color: rgb(25, 151, 245);
  }

  .cloudy {
    color: blue;
  }

  .rain {
    color: blue;
  }

  .day-cloudy-10 {
    color: rgb(255, 187, 33);
  }

  .day-cloudy-100 {
    color: rgb(38, 163, 231);
  }

  .day-sunny {
    color: #ffb412;
  }

  tbody {
    white-space: nowrap;

    tr.daily-summary {
      font-size: 0.9em;
      white-space: normal;
    }

    .weekend {
      background-image:linear-gradient(142deg, #b2f7c6 11.11%, #faf5f5 11.11%, #faf5f5 50%, #b2f7c6 50%, #b2f7c6 61.11%, #faf5f5 61.11%, #faf5f5 100%);
      background-size: 14.62px 11.42px;
    }

    tr.weather-details {
      td {
        border-bottom:1px solid black;
        padding: 4px;
        padding-top: 10px;
        padding-bottom: 6px;
      }

      td.summary {
        text-align: left;
      }

      td.forecast-date span.day-of-week {
        border-right: 0;
      }

      td.forecast-date span.day-of-month {
        color: #df788e;
        font-size: 0.85em;
        font-weight: 900;
        white-space: nowrap;
        border-left: 0;
      }

      td.precipitation {
        text-align: center;
      }

    }
  }

  .header-main {
    background-color:#def0ff;
  }

  tr.header-secondary {
    background-color:#fef7e9;
    text-align: center;
    td {
      padding: 8px 8px;
    }
  }
}

.align-right {
  text-align: right;
}

.weather-icon {
  font-size: 1.4em;
  font-weight: 1.2em;
}

a.freepik {
  text-decoration: underline;
  font-size: 0.6em;
}
